<!DOCTYPE html>
<html ng-app="myApp">
    <style>

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
}


.details {
    display: none;
}

/* Color for the search input and button */
.search-input-wrapper input, .search-input-wrapper button {
    background-color: #e9e9e9;
    color: #333;
}


.search-result:hover .details {
    margin: 1rem;
    display: block;

}

.card-title, .card-text {
    display: inline-block;
    vertical-align: middle;
}

</style>
<head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script src="elasticsearch.angular.js"></script>
  <script>
    var app = angular.module('myApp', ['elasticsearch']);
    app.service('es', function (esFactory) {
        return esFactory({
            host: 'http://elastic:ipxfkA16URe1kdTe@elastic.vsphere.local:31870',
            log: 'trace',
            ssl: {
                rejectUnauthorized: false
            },
            index: 'api'
        });
    });
    app.controller('myController', function($scope, $http, es) {
      $scope.searchTerm = '';
      $scope.search = function() {
        if ($scope.searchTerm === '') {
      $scope.searchTerm = '*';
    }
        es.search({
          size: 50,
          index: 'api',
          q: $scope.searchTerm
        }).then(function(result) {
          $scope.data = result.hits.hits;
        });
      };
    });
  </script>
</head>
<body >
    <div ng-app="myApp" ng-controller="myController" class="bg-light text-dark container-fluid">
        <div class="container">
          <div class="row p-2">
              <div class="col-md-12 text-center">
                  <h2>API Repository</h2>
              </div>
          </div>
          <div class="row align-items-center p-2">
              <div class="col-md-12 text-center">
                  <div class="search-input-wrapper d-flex">
                      <input type="text" class="form-control" ng-model="searchTerm" ng-change="search()" placeholder="Search API by name...">
                      <button class="btn btn-outline-secondary ml-2" type="button" ng-click="search()">Search</button>
                  </div>
              </div>
          </div>
          <div class="search-result p-2" ng-repeat="item in data">
            <div class="card" ng-mouseover="item.showPopup = true" ng-mouseleave="item.showPopup = false">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-secondary">API Name: {{ item._source.Name }}</div>
                        <div class="col-2 text-secondary">Version {{ item._source.Version }}</div>
                        <div class="col-2 text-secondary">Mega ID: {{ item._source['MEGA ID'] }}</div>
                      </div>                                        
                    <div class="details" ng-class="{'show': item.showPopup}">
                        <table class=".table-condensed">
                            <tr>
                              <td>Name</td>
                              <td>{{ item._source.Name }}</td>
                            </tr>
                            <tr>
                              <td>MEGA ID</td>
                              <td>{{ item._source['MEGA ID'] }}</td>
                            </tr>
                            <tr>
                              <td>Version</td>
                              <td>{{ item._source.Version }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ item._source.Status }}</td>
                              </tr>
                              <tr>
                                <td>Tags</td>
                                <td>{{ item._source.Tags }}</td>
                              </tr>
                              <tr>
                                <td>yaml</td>
                                <td>{{ item._source.raml }}</td>
                              </tr>
                              <tr>
                                <td>raml</td>
                                <td>{{ item._source.yaml }}</td>
                              </tr>
                              <tr>
                                <td>Owner</td>
                                <td>{{ item._source.owner }}</td>
                              </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      
  </body>
  
</html>

